.mat-tree {
    .mat-tree-node {
        min-height: 32px;
        line-height: 0;
        border-bottom: 2px solid beige;
        &:hover {
            background: papayawhip;
            button {
                color: blue;
            }
        }

        .qb-tablename {
            margin-left: 5px;
            cursor: pointer;
        }
        .qb-table {
            font-size: 18px;
            width: 19px;
            line-height: 1.3;
            color: tomato;
        }
    }
}

.mat-toolbar-row, .mat-toolbar-single-row {
    justify-content: space-between;
    line-height: 0;
    .icons {
        cursor: pointer;
    }
}